{% extends 'base.html' %}
{% block title %}{{action}}{% endblock %}
{% block body %}
		
<script>
function debug(msg){
	console.log(msg)
}
function check_platform_alive(ip,class_id)
{
	ajax_pwd = "/check_platform_alive/" + ip
	$.ajax(ajax_pwd,
	{
		success: function (data, status, xhr) {
			if (data.indexOf("True") != -1){
				$(class_id).css('color', 'blue')
			}else{
				$(class_id).css('color', 'red')
			}			
		}
	});	
}
function get_input_val(id){
	debug(id)
	var e = $(id).val()
	if (e == "" | e == " "){
		e = "None"
	}
	return e
}
function decode_cfg(cfg){
	return cfg.replaceAll("/","6.^").replaceAll(" ","^.^").replaceAll("\n","^.6").replaceAll("\r","")
}
function kill_pid(id,pid){
	$(id).click(function() {
		var r = confirm("kill -9 " + pid +"?");
		if (r == false) 
			return
		ajax_pwd = "/kill/" + pid
		$.ajax(ajax_pwd,
		{
			success: function (data, status, xhr) {
				$("#opentab_header_" + id.replace("#","").replace("_kill","")).hide()
				$("#opentab_body_"   + id.replace("#","").replace("_kill","")).hide()
			}
		});	
	});
}
function ajax_request(id,request,check_none,ask){
	$(id).click(function() {
		var board_name = get_input_val(".Serial_Number")
		if (ask == true){
			var r = confirm(request + " " + board_name +"?");
			if (r == false) 
				return
		}
		var ajax_pwd ="/ajax_request/" + request
		var keys = [".id",".hostip",".hostuser",".hostpass",".hostport",".bmc_fw",".scp_fw",".atfbios_fw",".test_cfg",".nvparm",".cmd",".nvparm_board_setting",".user_cfg1",".user_cfg2"]
		var e;
		for (e of keys) {
			ajax_pwd = ajax_pwd +"/"+ decode_cfg(get_input_val(e))
		}
		debug(ajax_pwd)
		var e;
		for (e of check_none) {
			if ((e !="" ) & (get_input_val(e) =="None")){
				alert(e +" is empty")
				return
			}
		}
		$.ajax(ajax_pwd,
		{
			success: function (data, status, xhr) {
				console.log(data)
				var request = JSON.parse(data).request
				if (request == "detect_console") {
					ttys = [".tty_bmc",".tty_uefi",".tty_atf",".tty_s0cli",".tty_s1cli"]
					var e;
					for (e of ttys) {
						$(e).val("")
					}
				}
				var obj = JSON.parse(data, function (key, value) {
					var request = JSON.parse(data).request
					if (key == "request"){
						
					}else if (key == "msg"){
				    	$("." + key).text(value.replaceAll("<br>","\n"))
				    }else if (key == "error"){
				    	alert(value)
				    }else{
				    	if (key == "tty"){
							var ttys = value.split(",")
							var tty_html=""
							var tty
							for (tty of ttys) {
								tty_html = tty_html + "<option value='" + tty +"'>"
							}
							var tty_names = ["tty_bmc", "tty_uefi", "tty_atf","tty_s0cli","tty_s1cli"];
							var tty_name;
							for (tty_name of tty_names) {
								$("#" + tty_name ).html(tty_html)
							}
				    	}else if (key != "" & value !=""){
					    	$("." + key).val(value)
				    	}
				    }
					if ((key == "board_serial") & $(".board_name").val()==""){
				    	$(".board_name").val(value)
				    }
				});
			var request = JSON.parse(data).request
			debug("request " + request)
		}
	});	
	});
}
function tab_session(){
	if ($("#tab_session").val() != ""){
		sessionStorage.setItem('tab_session',$("#tab_session").val())
	}
	if (sessionStorage.getItem('tab_session') == null) {
		var today = new Date();
		var date = today.getFullYear()+ "" +(today.getMonth()+1)+ "" +today.getDate();
		var time = today.getHours() + "" + today.getMinutes() + "" + today.getSeconds();
		sessionStorage.setItem('tab_session',date+"_"+time)
	} 
	var tab_session = sessionStorage.getItem('tab_session')
	$("#home_href").attr("href", "/?tab_session=" + tab_session);
	$("#tab_session").val(tab_session);
}
function openTabs(id_body,id_header) {
	  var i;
	  var x = document.getElementsByClassName("opentab_body");
	  var y = document.getElementsByClassName("opentab_header");
	  for (i = 0; i < x.length; i++) {
	    x[i].style.display = "none";  
	    y[i].style.color = "magenta";
	  }
	  document.getElementById(id_body).style.display = "block";
	  document.getElementById(id_header).style.color = "blue";
	}
function boards_header(i,e,data){
	var pid = data[e].pid
	var board_name = i+"." +data[e].name
	var id = e + pid
	var tab_header_class = "tab_header_class_" + id
	var tab_body_id= "tab_body_id_"+ id
	var h =""	
    h = h + "<button class='w3-bar-item w3-button w3-col m3 opentab_header w3-left-align "+ tab_header_class + "' id='opentab_header_" + id + "' onclick='openTabs(\"opentab_body_"+id+"\",\"opentab_header_"+ id +"\")'>" +  board_name +  "</button>" 
	return h
}
function board_body_tab(i,e,data,display){
	var href = data[e].log
	var cmd = data[e].cmd
	var pid = data[e].pid
	var board_name = i+"." +data[e].name
	var id = e + pid
	var tab_body_class= "tab_body_class_"+ id
	var tab_body_id= "tab_body_id_"+ id
	var tab_data_class= "tab_data_class_"+ id
	var html_class = "class='w3-container w3-black select_tab  "+ tab_body_class +"' "
	var h = ""
	h = h + "<div class='w3-container w3-blue opentab_body ' id='opentab_body_" + id + "' style='display:" + display + "'>"
	h = h + "	<div class='w3-row w3-purple' id='"+ tab_body_id +"'>"    
    h = h + "		<button class='w3-button w3-purple w3-col m4' >"
    h = h + "			<a href='#" + tab_body_id +"'>"+ board_name +"</a>"
    h = h + "		</button>" 
	h = h + "  		<div class='w3-button w3-purple w3-col m2' id='"+id+"_kill'>kill -9 "+pid+"</div>"
	h = h + "  		<script>kill_pid('#"+id+"_kill','"+pid+"')<\/script>"
    h = h + "  		<div class='w3-button w3-purple w3-col m6'><a href='/"+ href +"'>"+ cmd +"</a></div>" 
	h = h + "	</div>"
	h = h + "	<div class='w3-container w3-white'>"
	h = h + "		<div class='" + tab_data_class +" overflowTest '>"
	h = h + "		</div>"
	h = h + "	</div>"
	h = h + "</div>"
	return h
}
var websocket = new WebSocket("ws://{{ws_ip}}/");
websocket.onmessage = function (event) {
	console.log(event.data);
    data = JSON.parse(event.data);
    console.log(data);
    var i = 0
    for (e in data) {
    	var pid = data[e].pid
    	var id = e + pid
    	var tab_header_class = "tab_header_class_" + id
    	var tab_data_class= "tab_data_class_"+ id
    	if (String($(".bmcip").val()) != String(e.replaceAll("_",".")))
    		continue
    	var display ="none"
    	if (!$("." + tab_header_class)[0]){
    	    $(".tab_header").append(boards_header(i,e,data))
    	    if (i == 0 )
    	    	display = "block"
        	$(".tab_body").append(board_body_tab(i,e,data,display))
    	}
    	if (data[e].data != "")
	    	$("." + tab_data_class).html(data[e].data)
	    	var signals = ["TEST ERROR", "_DONE_","2DPC","1DPC"];
    	for (signal of signals) {
		    if (data[e].data.includes(signal) & !$("." + tab_header_class).text().includes(signal)){		    	
		    	$("." + tab_header_class).text( $("." + tab_header_class).text() + " " + signal )
		    }
    	}
    	i++
    }
};
$(document).ready(function(){
	check_platform_alive("{{platform['bmcip']}}",".bmcip_label")
	check_platform_alive("{{platform['hostip']}}",".hostip_label")
	$(document).ajaxStart(function(){
	  $("#wait").css("display", "block");
	});
	$(document).ajaxComplete(function(){
	  $("#wait").css("display", "none");
	});	
	ajax_request("#button_get_host_tty","get_host_tty",[".hostip"],false)
	ajax_request("#button_detect_console","detect_console",[".hostip"],false)
	ajax_request("#button_get_info","get_info",[".bmcip"],false)
	ajax_request("#button_get_board_serial","get_board_serial",[".bmcip"],false)
	ajax_request("#button_power_reset","power_reset",[".bmcip"],true)
	ajax_request("#button_mc_reset","mc_reset",[".bmcip"],true)
	ajax_request("#button_share_screen","share_screen",[".board_name"],true)
	ajax_request("#button_clean_nvparm","clean_nvparm",[".bmcip"],true)
	ajax_request("#button_program_fw","program_fw",[".bmcip"],true)
	ajax_request("#button_program_nvparm","program_nvparm",[".bmcip"],true)
	ajax_request("#button_start_test","start_test",[".bmcip"],true)
	ajax_request("#button_remove","remove",[".board_name"],true)
	
	$(".hostip").change(function(){
	    if($(".hostip").value != ""){
	    	$("#button_get_host_tty").trigger("click");
	    }
	  });
	
});
</script>
	    <div class="w3-container">
		 <form action="/add_platform_id/{{id}}"  method="post"  enctype="multipart/form-data">
		 	<div class="w3-row w3-indigo">
		    	<input class="w3-col m12 w3-input" type="file" name="file" autocomplete="off" multiple >
	    	</div>
		  <div class="w3-container w3-indigo w3-row">
			{% for e in platform %}
			    {% if e == "Note" %}
			    	<div class="w3-container w3-col m12 w3-indigo"><label>{{e}}</label></div>
			    	<textarea  class="w3-black w3-col m12 w3-input {{e}}" id='{{e}}' name="{{e}}" rows='5' style='width:100%' >{{platform[e]}}</textarea>
			    {% elif e == "id" or e == "client_info" or e == "time" %}
			    	<input class="w3-black w3-col m2 w3-input {{e}}" type="hidden"  name="{{e}}" list="{{e}}" value="{{platform[e]}}"/>
			    {% else %}
			    	<div class="w3-container w3-col m1 w3-indigo"><label class="{{e}}_label">{{e}}</label></div>
					<input class="w3-black w3-col m3 w3-input {{e}}" type="text"  name="{{e}}" list="{{e}}" value="{{platform[e]}}"/>
					<datalist id="{{e}}">
					{% for ee in datalist[e] %}
				  		<option value="{{ee}}">
			     	{% endfor %}
			    	</datalist>
				{% endif %}
			{% endfor %}
			<input type="submit" value="SAVE" class= "w3-container w3-button w3-block w3-red w3-xlarge"></input>
		  </div>
		 </form>
		</div>
		<div class="w3-container ">
		<form class="w3-container w3-card-4 w3_filter w3-indigo " action="/" method="post">  
		{% for e in board_cfg %}
				<div class="w3-third board_cfg">
					{% if test_cfg[e] == None or test_cfg[e] == "None" %}
						<input class="w3-black w3-input {{e}}" type="text"  name="{{e}}" list="{{e}}" placeholder="{{e}}"/>
					{% else %}
						<input class="w3-black w3-input {{e}}" type="text"  name="{{e}}" list="{{e}}" placeholder="{{e}}" value="{{test_cfg[e]}}"/>
					{% endif %}
					<datalist id="{{e}}">
					{% for ee in board_cfg[e] %}
					  <option value="{{ee}}">
				     {% endfor %}
				    </datalist>
				</div>
		{% endfor %}
			<div class="w3-row w3-indigo">
				 <div class="w3-left-align w3-button w3-large w3-teal w3-col m2" id="button_start_test">START</div>
				 <div class="w3-left-align w3-button w3-large w3-black w3-col m1" id="button_share_screen">SCREEN</div>
				 <div class="w3-left-align w3-button w3-large w3-teal w3-col m1" id="button_get_info">INFO</div>
				 <div class="w3-left-align w3-button w3-large w3-black w3-col m2" id="button_detect_console">DETECT CONSOLE</div>
				 <div class="w3-left-align w3-button w3-large w3-teal w3-col m1" id="button_power_reset">RESET</div>
				 <div class="w3-left-align w3-button w3-large w3-black w3-col m1" id="button_mc_reset">MC RESET</div>
				 <div class="w3-left-align w3-button w3-large w3-teal w3-col m1" id="button_get_board_serial">SERIAL</div>
				 <div class="w3-left-align w3-button w3-large w3-black w3-col m1" id="button_get_host_tty">TTY</div>
				 <div class="w3-left-align w3-button w3-large w3-teal w3-col m1" id="button_clean_nvparm">CLEANNV</div>
				 <div class="w3-left-align w3-button w3-large w3-red w3-col m1"   id="button_remove">REMOVE</div>
			</div>
			<div class="w3-indigo"> <br> </div>
		</form>
		<div class='w3-container w3-blue w3-row'>
			<div class="w3-bar w3-black tab_header"> </div>
		</div>
		<div class="tab_body"></div>  
		</div>
		
		<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">

		<div class="w3-container" style="margin-top:1px">
		  <div class="table-responsive"> 
		    <table class="js-dynamitable table table-bordered">
		      <thead>
		        <tr>
		        {% for log_title in log_titles %}
		          <th>{{log_title['name']}}<span class="js-sorter-desc glyphicon glyphicon-chevron-down pull-right"></span><span class="js-sorter-asc glyphicon glyphicon-chevron-up pull-right"></span></th>
				{% endfor %}
		        </tr>
		        <tr>
		        {% for log_title in log_titles %}
		          <th><input  class="js-filter  form-control" type="text" value=""></th>
		        {% endfor %}
		        </tr>
		      </thead>
		      <tbody>
			{% for e in log_elements %}
		  		<tr>
		  		{% for log_title in log_titles %}
		  			{% if log_title["href"] != "" %}
		  				<td><a class="{{log_title['name']}}_{{e['id']}}" style="white-space: pre-line" href="{{log_title['href']}}/{{pwd}}/{{e['id']}}">{{e[log_title['name']]|safe}}</a></td>
		  			{% else %}
		  				<td class="{{log_title['name']}}_{{e['id']}}" style="white-space: pre-line" >{{e[log_title['name']]|safe}}</td>
		  			{% endif %}
		  		{% endfor %}
		  		</tr>
			{% endfor %}
		      </tbody>
		    </table>
		  </div>
		</div>
		<script src="{{ url_for('static', filename='js/dynamitable.jquery.min.js') }}"></script>
{% endblock %}